.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
oldcart

/vendor/
/theme/
uploads/banners/*
!uploads/banners/index.html
uploads/products/*
!uploads/products/index.html